.hero { 
  background: #161B21;
}

.hero-left {
  max-width: 77.5625rem; 
  max-height: 62.8125rem;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%); 
  text-align: center;
  color: #fff;
}

.hero-title {
  font-weight: 400;
  font-size: 10.625rem;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 3rem;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

.hero-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  width: 19.5rem;
  height: 4.75rem;
  border-radius: 8px;
  display: inline-flex;    
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  text-decoration: none;   
  color: inherit;          
  border: none;            
}

.btn-dark { 
  background:#161B21; color:#fff; 
  border: 1px solid #fff ;
  
}
.btn-light { background:#fff; color:#161B21; }
