.interior {
  padding: 2rem 2rem;
  text-align: start;
  background: #161b21;   
  color: #f5f5f5;        
  font-family: "Montserrat", sans-serif;
}

.interior h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-left: 8rem;
}

.interior p {
  max-width: 95rem;
  margin: 1rem 0;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.6;
}

.interior-images {
  display: flex;
  justify-content:center;
  gap: 10rem;           
  flex-wrap: wrap;     
}

.interior-images img {
  max-width: 50.5rem;    
  width: 100%;
  max-height: 33.625rem;
  height: auto;
  border-radius: 8px;
}
