.booking-page {
  
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  color: white;
  margin-bottom: 3rem;
}

.booking-container {
  border: 0.1rem solid #ECAC0C;
  padding: 1.5rem 2.25rem;
  width: 31.625rem;
  background: #161b21;
  border-radius: 0.5rem;
}

.booking-total {
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


.booking-form {
  padding: 0.625rem 0.625rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.booking-form input {
  width: 28.375rem;
  height:  3.1875rem;
  padding: 0 1rem;
  border: 0.1rem solid #ffffff;
  background: #161b21;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-btn {
  color: #ffffff;
  background: #ecac0c;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition:  0.3s;
}
.back-to-cart {
  color: #ffffff;
  background: #ecac0c;
  border: none;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition:  0.3s;
}
.booking-btn:hover {
  background: #ffcc00;
}
.back-to-cart:hover {
  background: #ffcc00;
}
