.register-page {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  color: white;
}
.register-form input::placeholder{
     color: #ffffff;
     
}
.register-form {
  background-color: #161b21;
  border: 1px solid #ffb300;
  border-radius: 6px;
  padding: 2rem;
  width: 32.125rem;
  height: 37.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.register-form h3 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}

.register-form input {
  width: 28.375rem;
  height:  3.1875rem;
  padding: 0 1rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


.register-form button {
  background-color: #ECAC0C;
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  width: 15.3125rem;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  transition:  0.3s;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.register-form button:hover {
  background-color: #ffcc00;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}