.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #161b21;
  color: white;
}

.login-form {
  background-color: #161b21;
  border: 1px solid #ffb300;
  border-radius: 6px;
  padding: 2rem;
  width: 32.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-form h3 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 28.375rem;
  height: 3.1875rem;
  padding: 0 1rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.login-form input::placeholder{
     color: #ffffff;
     
}

.login-form button {
  background-color: #ECAC0C;
  border: none;
  border-radius: 4px;
  width: 7.5625rem;
  height: 3.4375rem;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #ffcc00;
}

.login-form p {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

.login-form a {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;  
  color: #ffb300;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
