@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
body::-webkit-scrollbar { 
  display: none;
}
h1, h2, h3, h4,p {
  margin: 0;
}
html {
    font-size: 16px; 
}
.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #161b21; 
}
.app {
  min-height: 100vh; 
}
.content {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
