.promotions-page {
  background: #161b21;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  padding:  1rem 0 8rem 0;
}


.promotions-grid {
  display: flex;
  justify-content: center;
  gap: 4rem;
}



.promo-card {
  width: 29.875rem;
  max-height: 40.9375rem;
  text-align: center;
  flex-shrink: 0; 
  display: flex;
  flex-direction: column;
}


.promo-title {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


.promo-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
